footer.footer
    .footer__content
        .footer__content__logo DREAMSHARE
        .footer__content__company
        h3.footer__content__title Company
        .footer__content__company__list
            p.footer__content__company__list_item About
            p.footer__content__company__list_item Contact
            p.footer__content__company__list_item Press
            p.footer__content__company__list_item Blog
            p.footer__content__company__list_item.footer__content__company__list_item_terms Terms and Privacy
            p.footer__content__company__list_item.footer__content__company__list_item_help Help
        .footer__content__partners
        h3.footer__content__title Partners
    .footer__designed
        p.footer__designed_text Designed by
        img.footer__designed_logo(src='./image/Bitmap-13.png', alt='')
