header.header
    nav.menu
        a.menu__logo(href='#') DREAMSHARE
        .menu__button
        button.menu__button__login Log in
        button.menu__button__signup Sign up
    .top-block
        h1.top-block__title SHARE YOUR HOLIDAY DREAM
        p.top-block__text And find the perfect partner to fullfill it
        button.top-block__button Find your holiday partner