$main-font: 'Montserrat', sans-serif;

$second-font: 'Roboto', sans-serif;

$main-text-color: #FFFFFF;

$second-text-color:#444444;

$third-text-color: #666666;

$light-text-color: #999999;

$main-style-color: #FF4E50;